/*
selecteur(s){
    propriété : valeur;
}
*/
body {
    background: rgb(251, 251, 255);
    margin: 50px;
    padding: (30px);
}

@font-face {
    font-family: "RuneScape";
    src: url(fonts/RuneScape-Quill-8.otf) format('opentype');
}
@font-face {
    font-family:"Akaya";
    src: url(fonts/AkayaTelivigala-Regular.woff2) format('woff2');
    
}
h1 {
    
color: rgb(14, 13, 13);
    text-align: left;
    font-size: 30px;
    font-family:"RuneScape";
}
p {
    color: rgb(14, 13, 13);
    text-align: justify;
    font-size: 16px;
    font-family:"Akaya";
}

a{
    font-family: "Akaya";
    display: block;
    text-align: right;
    color: rgb(0, 0, 0);
}
.barre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img{
    max-width: 100%;
    height:auto;
}
.img-groupe{
    display:grid;
    grid-template-columns: repeat(2, 1fr );
}
.mindmap{max-width: 50%;
    height:auto;}

.queer-eco-love{transform:translate(100px,20px) rotate(-10deg) scale(0.6);}
.autocollant-kefir{transform:translate(0px,250px) rotate(10deg) scale(0.5);}
.goblin{transform:translate(50px,0px) rotate(45deg) scale(0.5);}
.do-not-distrub{transform:translate(0px,0px) rotate(10deg) scale(0.9);}
.zoom-zomm{transform:translate(0px,0px) rotate(40deg) scale(0.4);}
.froggy-lover{transform:translate(100px,20px) rotate(40deg) scale(0.7);}
.mind-map{transform:translate(0px,0px) rotate(10deg) scale(0.7);}

.about {text-decoration: none;color:black ;}

.dark-goat-on-farm{max-width: 25%;
height: auto;}
    
}



